<div class="myorder" id="myorder" ng-controller="CommentController">
    <div ng-include="'static/partials/public/header.html'"></div>
    <div class="min-1190" style="margin-top:160px;">
        <!--配送方式开始-->
        <div class="order-con">
            <div class="w-title-1190" style="margin-bottom:30px;">我的星锐</div>
            <div class="order-detail personal">
                <div ng-include="'static/partials/public/mybg.html'"></div>
                <div class="order-r fl">
                    <div class="tabs">
                        <ul>
                            <li><a href="" class="active" ui-sref="my.comment">收到的评论</a></li>
                            <li><a href="" ui-sref="my.receive">发出去评论</a></li>
                        </ul>
                    </div>
                    <!--<div class="comment">-->
                        <!--<div class="row-comment">-->
                            <!--<div class="avatar"></div>-->
                            <!--<div class="comment-con">-->
                                <!--<p class="name"></p>-->
                                <!--<p class="reply"></p>-->
                                <!--<div class="good-con">-->
                                    <!--<div class="avatar"></div>-->
                                    <!--<div class="title">-->
                                        <!--<p></p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--配送方式结束-->
    </div>
    <div ng-include="'static/partials/public/footer.html'"></div>
</div>