<div class="myorder" id="myorder" ng-controller="MemberController">
    <div ng-include="'static/partials/public/header.html'"></div>
    <div class="min-1190" style="margin-top:160px;">
        <!--配送方式开始-->
        <div class="order-con">
            <div class="w-title-1190" style="margin-bottom:30px;">我的星锐</div>
            <div class="order-detail member">
                <div ng-include="'static/partials/public/mybg.html'"></div>
                <div class="order-r fl">
                    <div class="tabs">
                        <ul>
                            <li><a href="" style="text-align:left;background:none;">我的会员</a></li>
                        </ul>
                    </div>
                    <!--个人资料开始-->
                    <div class="member-info clear">
                        <div class="avatar-l fl">
                            <img ng-src="{{person.headimgurl}}" err-src="static/img/userdefault.png" alt="">
                        </div>
                        <div class="avatar-r fl">
                            <p ng-bind="person.nickname"></p>
                            <p>会员身份：<span style="color:#000">{{Grade}}会员</span></p>
                        </div>
                    </div>
                    <!--个人资料结束-->
                    <!--我的经验值开始-->
                    <div class="my-value">
                        <div class="my-empirical">我的经验值<span ng-bind="member.value"></span></div>
                        <div class="grade">
                            <p>你当前为{{Grade}}会员</p>
                            <p ng-show="maxlevele">你已到达最高等级会员</p>
                            <p ng-hide="maxlevele">升级到{{UpGrade}}会员还差<span ng-bind="member.up_value" style="color:#FF2450;"></span>经验值</p>
                        </div>
                        <div class="bar-info">
                            <div class="bar">
                                <div class="bar1"></div>
                                <div class="bar2" style="left:{{bar}}px"></div>
                            </div>
                            <div class="grade_wenzi clear">
                                <ul>
                                    <li style="margin-right:80px;">
                                        <p>普通会员</p>
                                        <p>0</p>
                                    </li>
                                    <li style="margin-right:120px;">
                                        <p>白银会员</p>
                                        <p>1001</p>
                                    </li>
                                    <li style="margin-right:160px;">
                                        <p>黄金会员</p>
                                        <p>3001</p>
                                    </li>
                                    <li style="margin-right:285px;">
                                        <p>铂金会员</p>
                                        <p>6001</p>
                                    </li>
                                    <li>
                                        <p>钻石会员</p>
                                        <p>15001</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--我的经验值结束-->
                    <!--我的特权开始-->
                    <div class="privilege">
                        <div class="privilege-title">我的特权</div>
                        <div class="privilege-list">
                            <ul ng-show="level==1">
                                <li>
                                    <p>优惠劵</p>
                                    <div class="icon i-yhq"></div>
                                    <p>每月20元优惠劵</p>
                                    <div class="yhq-btn" ng-style="gbs" ng-bind="gbn" ng-click="GetCoupon()"></div>
                                </li>
                            </ul>
                            <ul ng-show="level==2">
                                <li>
                                    <p>包邮</p>
                                    <div class="icon i-baoyou"></div>
                                    <p>满1000元包邮</p>
                                </li>
                                <li>
                                    <p>优惠劵</p>
                                    <div class="icon i-yhq"></div>
                                    <p>30元优惠劵</p>
                                    <div class="yhq-btn" ng-style="gbs" ng-bind="gbn" ng-click="GetCoupon()"></div>
                                </li>
                            </ul>
                            <ul ng-show="level==3">
                                <li>
                                    <p>包邮</p>
                                    <div class="icon i-baoyou"></div>
                                    <p>满500元包邮</p>
                                </li>
                                <li>
                                    <p>优惠劵</p>
                                    <div class="icon i-yhq"></div>
                                    <p>每月50元优惠劵</p>
                                    <div class="yhq-btn" ng-style="gbs" ng-bind="gbn" ng-click="GetCoupon()"></div>
                                </li>
                            </ul>
                            <ul ng-show="level==4">
                                <li>
                                    <p>包邮</p>
                                    <div class="icon i-baoyou"></div>
                                    <p>满300元包邮</p>
                                </li>
                                <li>
                                    <p>优惠劵</p>
                                    <div class="icon i-yhq"></div>
                                    <p>每月80元优惠劵</p>
                                    <div class="yhq-btn" ng-style="gbs" ng-bind="gbn" ng-click="GetCoupon()"></div>
                                </li>
                                <li>
                                    <p>生日福利</p>
                                    <div class="icon i-birthday"></div>
                                    <p>生日专享优惠</p>
                                </li>
                                <li>
                                    <p>专属活动</p>
                                    <div class="icon i-activity"></div>
                                    <p>暂未开放</p>
                                </li>
                            </ul>
                            <ul ng-show="level==5">
                                <li>
                                    <p>包邮</p>
                                    <div class="icon i-baoyou"></div>
                                    <p>满0元包邮</p>
                                </li>
                                <li>
                                    <p>优惠劵</p>
                                    <div class="icon i-yhq"></div>
                                    <p>每月100元优惠劵</p>
                                    <div class="yhq-btn" ng-style="gbs" ng-bind="gbn" ng-click="GetCoupon()"></div>
                                </li>
                                <li>
                                    <p>生日福利</p>
                                    <div class="icon i-birthday"></div>
                                    <p>生日专享优惠</p>
                                </li>
                                <li>
                                    <p>专属活动</p>
                                    <div class="icon i-activity"></div>
                                    <p>暂未开放</p>
                                </li>
                                <li>
                                    <p>体验特权</p>
                                    <div class="icon i-privilege"></div>
                                    <p>暂未开放</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--我的特权结束-->
                </div>
            </div>
        </div>
        <!--配送方式结束-->
    </div>
    <div ng-include="'static/partials/public/footer.html'"></div>
</div>