<div class="myorder" id="myorder" ng-controller="PasswordlController">
    <div ng-include="'static/partials/public/header.html'"></div>
    <div class="min-1190" style="margin-top:160px;">
        <!--配送方式开始-->
        <div class="order-con">
            <div class="w-title-1190" style="margin-bottom:30px;">我的星锐</div>
            <div class="order-detail personal">
                <div ng-include="'static/partials/public/mybg.html'"></div>
                <div class="order-r fl">
                    <div class="tabs">
                        <ul>
                            <li><a href="" ui-sref="my.personal">个人信息</a></li>
                            <li><a href="" ui-sref="my.address">收货地址</a></li>
                            <li><a href="" style="width:100px;color: #6B6B6B;background:none;" ui-sref="my.password" class="active">密码管理</a></li>
                        </ul>
                    </div>
                    <!--修改手机号-->
                    <div class="personal-box">
                        <div class="tel clear">
                            <div class="tel-info fl" style="margin-top:6px;">
                                <p style="margin-top:-3px;">已验证手机：</p>
                            </div>
                            <p class="fl" style="margin-top:6px;" ng-bind="tel"></p>
                            <div class="code-btn fl" ng-click="sendCode()" ng-bind="paracont"></div>
                        </div>
                        <div class="code clear">
                            <div class="tel-info fl" style="margin-top:6px;">
                                <p style="margin-top:-3px;">手机验证码：</p>
                            </div>
                            <p class="fl"><input type="text" placeholder="验证码" ng-model="code" maxlength="4"></p>
                        </div>
                        <div class="code clear" style="margin-top:22px;">
                            <div class="tel-info fl" style="margin-top:6px;">
                                <p style="margin-top:-3px;">设置密码：</p>
                            </div>
                            <p class="fl"><input type="password" placeholder="设置密码" ng-model="password"></p>
                        </div>
                        <div class="code clear" style="margin-top:22px;">
                            <div class="tel-info fl" style="margin-top:6px;">
                                <p style="margin-top:-3px;">确认密码：</p>
                            </div>
                            <p class="fl"><input type="password" placeholder="确认密码" ng-model="confirmP"></p>
                        </div>
                        <div class="tel-submit" ng-click="EditPassWord()">提交</div>
                    </div>
                    <!--修改手机结束-->
                </div>
            </div>
        </div>
        <!--配送方式结束-->
    </div>
    <div ng-include="'static/partials/public/footer.html'"></div>
</div>