<div class="settings" id="settings">
    <div class="top">
        <a go-back><img src="static/img/return.png" width="9" alt=""></a>
        <span>关于我们</span>
    </div>
    <div>
        <div class="about">
            <div class="company">星锐娱乐</div>
            <div class="stareat">STAREAL</div>
            <div class="base">
                <img src="static/img/diamond.png" width="32" alt="">
            </div>
            <div class="introduce">演出资讯，演出票务及演出周边，一样不少。聚焦在文化演出与体育赛事邻域的交易与交流平台，可以买票，也可以卖票，可以报名，也可以招募，可以交流，也可以分享。</div>
            <div class="copyright">Copyrigt ©2015-2016</div>
            <div class="headquarters">上海星鱼文化传播有限公司</div>
        </div>
    </div>
</div>