<!--侧边栏开始-->
<div id="toolbar" class="toolbar">
    <a target=blank href="tencent://message/?uin=1367511704&Site=qq&Menu=yes" class="toolbar-feedback"></a>
    <a href="javascript:;" class="toolbar-top" id="backTop" back-top></a>
</div>
<!--侧边栏结束-->
<style>
    .footer a{
        color:#fff;
    }
</style>
<!--底部开始-->
<div class="footer">
    <div class="footer-center">
        <div class="footer-con clear">
            <div class="footer-nav clear fl">
                <ul>
                    <p>购票方式</p>
                    <li ui-sref="main.help({num:'2'})">网站购票</li>
                    <li ui-sref="main.help({num:'2'})">APP购票</li>
                    <li ui-sref="main.help({num:'2'})">微信购票</li>
                    <li ui-sref="main.help({num:'2'})">电话购票</li>
                </ul>
                <ul>
                    <p>购票须知</p>
                    <li ui-sref="main.help({num:'3'})">关于价格</li>
                    <li ui-sref="main.help({num:'4'})">关于数量</li>
                    <li ui-sref="main.help({num:'5'})">关于座位</li>
                </ul>
                <ul>
                    <p>支付方式</p>
                    <li ui-sref="main.help({num:'7'})">支付宝支付</li>
                    <li ui-sref="main.help({num:'7'})">微信支付</li>
                </ul>
                <ul>
                    <p>配送方式</p>
                    <li ui-sref="main.help({num:'8'})">快递送票</li>
                    <li ui-sref="main.help({num:'8'})">现场取票</li>
                    <li ui-sref="main.help({num:'8'})">上门自取</li>
                    <li ui-sref="main.help({num:'6'})">是否包邮</li>
                </ul>
                <ul>
                    <p>售后服务</p>
                    <li ui-sref="main.help({num:'9'})">退换票</li>
                    <li ui-sref="main.help({num:'11'})">退款</li>
                </ul>
            </div>
            <div class="erwei fl">
                <div class="app fl">
                    <img src="static/img/appstoer.jpg" alt="">
                    <p>星锐娱乐APP</p>
                </div>
                <div class="app fl">
                    <img src="static/img/fuwuhao.jpg" alt="">
                    <p>微信服务号</p>
                </div>
                <div class="app fl">
                    <img src="static/img/dingyuehao.jpg" alt="">
                    <p>微信订阅号</p>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul>
                <li>
                    <div class="link-img">
                        <img src="static/img/link04.png" alt="">
                    </div>
                    <div class="link-wz" style="width:50px;">网上交易保障中心</div>
                </li>
                <li>
                    <div class="link-img">
                        <img src="static/img/link01.png" alt="">
                    </div>
                    <div class="link-wz" style="width:36px;">上海市工商局</div>
                </li>
                <li>
                    <div class="link-img">
                        <img src="static/img/link02.png" alt="">
                    </div>
                    <div class="link-wz" style="width:48px;">中国互联网协会</div>
                </li>
                <li>
                    <div class="link-img">
                        <img src="static/img/link05.png" alt="">
                    </div>
                    <div class="link-wz" style="width:60px;">计算机软件著作权</div>
                </li>
                <li>
                    <div class="link-img">
                        <img src="static/img/link03.png" alt="">
                    </div>
                    <div class="link-wz" style="width:110px;"><a href="http://www.shjbzx.cn/">上海市互联网违法和不良信息举报中心</a></div>
                </li>
            </ul>
        </div>
        <div class="copyrigh">
            <div class="info">
                <ul class="clear">
                    <li ui-sref="main.help({num:'13'})"><a href="">关于我们</a></li>
                    <li ui-sref="main.help({num:'14'})"><a href="">联系我们</a></li>
                    <li><a href="">隐私申明</a></li>
                    <li><a href="http://m.kuaidi100.com/">快递查询</a></li>
                </ul>
                <p>2017上海星鱼文化传播有限公司</p>
                <p>沪ICP备案号16013771</p>
            </div>
        </div>
    </div>
</div>
<!--底部结束-->