<div class="order-l fl">
    <ul>
        <li ng-class="{true: 'active',false:''}[mypage==1]"><a ui-sref="my.orders">我的订单</a></li>
        <li ng-class="{true: 'active',false:''}[mypage==2]"><a ui-sref="my.beily">我的贝里</a></li>
        <li ng-class="{true: 'active',false:''}[mypage==3]"><a ui-sref="my.member">我的会员</a></li>
        <li ng-class="{true: 'active',false:''}[mypage==4]"><a ui-sref="my.favorite">我的收藏</a></li>
        <li ng-class="{true: 'active',false:''}[mypage==5]"><a ui-sref="my.receive">我的评论</a></li>
        <li ng-class="{true: 'active',false:''}[mypage==6]"><a ui-sref="my.coupon">我的卡劵</a></li>
        <li ng-class="{true: 'active',false:''}[mypage==7]"><a ui-sref="my.personal">账户设置</a></li>
    </ul>
</div>