<div class="Pay" id="Pay" ng-controller="PayController">
    <div ng-include="'static/partials/public/header.html'"></div>
    <div class="min-1190" style="margin-top:160px;">
        <!--步骤条开始-->
        <div id="crumbs">
            <ul class="clear">
                <li><a href="javascript:;" class="active">1.提交订单</a></li>
                <li><a href="javascript:;">2.支付订单</a></li>
                <li><a href="javascript:;">3.交易成功</a></li>
            </ul>
        </div>
        <!--步骤条结束-->
        <!--配送方式开始-->
        <div class="order-con">
            <div class="w-title-1190" style="margin-bottom:30px;">请选择配送方式</div>
            <div class="order-detail">
                <div class="order-l fl">
                    <ul>
                        <li ng-class="{1: 'active'}[param.deliverType]" ng-click="cd(1)">快递送票</li>
                        <li ng-class="{2: 'active'}[param.deliverType]" ng-click="cd(2)">现场取票</li>
                        <li ng-class="{3: 'active'}[param.deliverType]" ng-click="cd(3)">上门自取</li>
                    </ul>
                </div>
                <div class="order-r fl">
                    <!--快递送票开始-->
                    <div class="address" ng-show="param.deliverType == 1">
                        <div class="order-title">收货地址</div>
                        <div class="addre-list">
                            <ul>
                                <li ng-repeat="address in addresses" ng-click="select($index,'{{address.id}}')">
                                    <i class="{{address.active}}"></i>
                                    <span ng-bind="address.province"></span>
                                    <span ng-bind="address.city"></span>
                                    <span ng-bind="address.district"></span>
                                    <span ng-bind="address.address"></span>
                                    <span ng-bind="address.name"></span>
                                    <span ng-bind="address.mobile"></span>
                                    <span ng-show="address.is_default">默认地址</span>
                                </li>
                            </ul>
                            <a href="" edit-add>添加新地址</a>
                        </div>
                    </div>
                    <!--快递送票结束-->
                    <!--现场取票开始-->
                    <div class="express" ng-show="param.deliverType == 2">
                        <div class="order-title">取票地点</div>
                        <div class="addre-list clear">
                            <div class="people fl">
                                <div class="people-info clear">
                                    <div class="name clear"><p class="fl" style="margin-top:6px;">取票人姓名</p><p class="fr"><input type="text" ng-model="live_name"></p></div>
                                    <div class="tel clear"><p class="fl"  style="margin-top:6px;">取票人手机号</p><p class="fr"><input type="text" ng-model="live_mobile"></p></div>
                                </div>
                            </div>
                            <div class="yanchu fl">
                                <div class="yanchu-info">
                                    <ul>
                                        <li class="clear"><p class="fl">取票时间：</p><p class="fl">演出开场前一小时</p></li>
                                        <li class="clear"><p class="fl">取票说明：</p><p class="fl">凭手机短信取票码取票</p></li>
                                        <li class="clear"><p class="fl">取票地址：</p><p class="fl">演出场馆</p></li>
                                        <li class="clear"><p class="fl">联系电话：</p><p class="fl">173 1768 3613</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tips">温馨提示：由于演出票品特殊性，请上门自取前提前致电客服电话，避免发生无法取票的情况。</div>
                    </div>
                    <!--现场取票结束-->
                    <!--上门自取开始-->
                    <div class="express" ng-show="param.deliverType == 3">
                        <div class="order-title">取票地点</div>
                        <div class="addre-list clear">
                            <div class="people fl">
                                <div class="people-info clear">
                                    <div class="name clear"><p class="fl" style="margin-top:6px;">取票人姓名</p><p class="fr"><input type="text" ng-model="live_name"></p></div>
                                    <div class="tel clear"><p class="fl"  style="margin-top:6px;">取票人手机号</p><p class="fr"><input type="text" ng-model="live_mobile"></p></div>
                                </div>
                            </div>
                            <div class="yanchu fl">
                                <div class="yanchu-info">
                                    <ul>
                                        <li class="clear"><p class="fl">取票时间：</p><p class="fl">周一至周五 9:00~18:00</p></li>
                                        <li class="clear"><p class="fl">取票地址：</p><p class="fl">上海市闵行区新龙路1333弄69号605室</p></li>
                                        <li class="clear"><p class="fl">取票说明：</p><p class="fl">凭手机短信取票码取票</p></li>
                                        <li class="clear"><p class="fl">客服电话：</p><p class="fl">400-879-8613</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tips">温馨提示：由于演出票品特殊性，请上门自取前提前致电客服电话，避免发生无法取票的情况。</div>
                    </div>
                    <!--上门自取结束-->
                    <div class="order-info">
                        <div class="order-title">订单信息</div>
                        <div class="order_row clear">
                            <ul>
                                <li>
                                    <p class="title">演出信息</p>
                                    <div class="order_row_info">
                                        <div class="img fl">
                                            <img ng-src="{{thumb}}" alt="">
                                        </div>
                                        <div class="order_row_txt fl">
                                            <p><a href="" ng-bind="title"></a></p>
                                            <p ng-bind="site_title"></p>
                                            <p ng-bind="date|splitq"></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="title">票面/说明</p>
                                    <div class="order_row_info">
                                        <p ng-bind="cat" style="color:#6B6B6B"></p>
                                        <p ng-bind="seat" style="color:#6B6B6B"></p>
                                    </div>
                                </li>
                                <li>
                                    <p class="title">单价(元)</p>
                                    <div class="order_row_info">
                                        <p ng-bind="param.price|currency:'¥'" style="color:#6B6B6B"></p>
                                    </div>
                                </li>
                                <li>
                                    <p class="title">张数</p>
                                    <div class="order_row_info" style="display:table;margin:0 auto;">
                                        <div class="quantitybox">
                                            <a class="fl" ng-click="subNum()">-</a>
                                            <input type="text" ng-model="param.num" disabled/>
                                            <a class="fr" ng-click="addNum()">+</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="title">小计(元)</p>
                                    <div class="order_row_info">
                                        <p ng-bind="total|currency:'¥'" style="color:#6B6B6B"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="buy">
                        <div class="buy-l fl">
                            <div class="xyq fl">
                                <p class="fl">可用优惠劵</p>
                                <div class="xyq-select fl">
                                    <select ng-model="coupon" ng-options="y.remark+' 有效期至：'+y.expire_date for (x,y) in coupons"
                                             ng-change="change()" style="width:170px;height:24px;border: 1px solid #E5E5E5;border-radius: 4px;text-align:center;">
                                        <option value="" style="text-align:center">全部优惠券</option>
                                    </select>
                                </div>
                            </div>
                            <div class="beily fl">
                                <p class="fl">可使用贝里</p>
                                <div class="beily fl">
                                    <input type="text" ng-model="param.beily" ng-change="MaxBelly(param.beily)" placeholder="最多可使用{{deduction_max}}贝里" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" style="width:170px;height:24px;border: 1px solid #E5E5E5;border-radius: 4px;padding-left:10px;">
                                </div>
                            </div>
                        </div>
                        <div class="buy-r fr">
                            <div class="money clear">
                                <ul>
                                    <li class="clear">
                                        <p>商品总金额：</p>
                                        <p ng-bind="total|currency:'¥'"></p>
                                    </li>
                                    <li class="clear">
                                        <p>快递费用：</p>
                                        <p ng-bind="deliver_price|currency:'¥'"></p>
                                    </li>
                                    <li class="clear">
                                        <p>优惠劵抵扣：</p>
                                        <p>-{{copon_price|currency:'¥'}}</p>
                                    </li>
                                    <li class="clear">
                                        <p>贝里抵扣：</p>
                                        <p>-{{beily_price| currency:'¥'}}</p>
                                    </li>
                                    <li class="clear">
                                        <p>应付总金额：</p>
                                        <p style="color:#FF5A5F" ng-bind="total_price|currency:'¥'"></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="create"ng-click="SubmitOrder()">提交订单</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--配送方式结束-->
    </div>
    <!--地址弹窗开始-->
    <div id="mask-add" close-model>
        <div id="address-box" stop-propagation>
            <div class="con-box">
                <ul>
                    <li class="clear">
                        <p class="fl">收货人：</p>
                        <p class="fl"><input type="text" ng-model="name"></p>
                    </li>
                    <li class="clear">
                        <p class="fl">联系电话：</p>
                        <p class="fl"><input type="text" ng-model="mobile"></p>
                    </li>
                    <li class="clear">
                        <p class="fl">所在区域：</p>
                        <p class="fl">
                            <select name="" ng-model="province" ng-options="key as key for (key,value) in division"
                                    ng-change="city='';district='';" style="border: 1px solid #E5E5E5;height:24px;border-radius: 4px">
                                <option value="">请选择省</option>
                            </select>
                            <select name="" ng-model="city" ng-options="key as key for (key,value) in division[province]"
                                    ng-change="district='';" style="border: 1px solid #E5E5E5;height:24px;border-radius: 4px">
                                <option value="">请选择市</option>
                            </select>
                            <select name="" ng-model="district" ng-options="value as value for value in division[province][city]" style="border: 1px solid #E5E5E5;height:24px;border-radius: 4px">
                                <option value="">请选择区</option>
                            </select>
                        </p>
                    </li>
                    <li class="clear">
                        <p class="fl">详细地址：</p>
                        <p class="fl"><input type="text" ng-model="detail"></p>
                    </li>
                </ul>
                <div class="add-save">
                    <p><a href="" ng-click="default()" ng-style="defstyle" ng-model="isdefault"></a>设置为默认地址</p>
                    <div class="save-btn" ng-click="save()">保存</div>
                </div>
            </div>
            <div id="close-add" close-model></div>
        </div>
    </div>
    <!--地址弹窗结束-->
    <div ng-include="'static/partials/public/footer.html'"></div>
</div>